* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    margin: 0px;
    background-color: #e78200;
    overflow: hidden;
    padding: 0px;    
}
.main-navbar ul li{
    list-style: none;
}

.buscador{
    display: flex;
    float: right;
    top: 10px;
}

.section{
    background-color: rgb(209, 248, 172);
    box-sizing: border-box;
    overflow: hidden;
    padding: 1% 0;
}

.banner{
    height: 300px;
    width: 100%;
    margin-bottom: 20px;
    padding: 0;
}

.section-bottom{
    padding: 0 1%;
}

.producto-destacado{
    height: 200px;
    width: 24%;
    background-color: grey;
    float: left;
    margin-right: 1%;
}

.mas-vendido{
    height: 200px;
    width: 24%;
    background-color: darkgrey;
    float: left;
    margin-right: 1%;
}

.nuevo{
    height: 200px;
    width: 24%;
    background-color: grey;
    float: left;
    margin-right: 1%;
}

.ofertas{
    height: 200px;
    width: 25%;
    background-color:darkgrey;
    float: left;
}

footer{
    overflow: hidden;
    background-color: rgb(220, 194, 243);
    height: 50px;
}

footer ul li{
    background-color: darkviolet;
    margin-top: 3px;
    height: 30px;
    font-size: 16px;
    list-style: none;
}

.footer1{
    width: 24%;
    float: left;
    margin-right: 0.75%;
    margin-left: 0.75%;
}

.footer2{   
    width: 24%;
    float: left;
    margin-right: 0.75%;
}

.footer3{    
    width: 24%;
    float: left;
    margin-right: 0.75%;
}

.footer4{
    width: 24%;
    float: left;
    margin: none;
}