<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Página de Registro</title>
</head>
<body>
<%- include('../partials/head') %>
<%- include('../partials/header') %>
    <h1>Regístrate</h1>
    <form action="/users/" method="POST">
        <p>
            <label>
                Nombre
            </label>
        </p>
        <p>    
            <input type="text" name="name">
        </p>
        <p>
            <label>
                Email
            </label>
        </p>
        <p>
            <input type="text" name="email">
        </p>
        <p>
            <label>
                Fecha de Nacimiento
            </label>
        </p>
        <p>    
            <input type="date" name="date">
        </p>
        <p>
            <label>
                Contraseña
            </label>
        </p>
        <p>
            <input type="password" name="password">
        </p>
        <p>
            <button type="submit">
                Crear Usuario
            </button>
        </p>
    </form>
<%- include('../partials/footer') %>
</body>
</html>