<%- include('../partials/head') %>
<%- include('../partials/header') %>

    <h1>Regístrate</h1>
    <form action="/users/" method="POST">
        <p>
            <label>
                Nombre
            </label>
        </p>
        <p>    
            <input type="text" name="name">
        </p>
        <p>
            <label>
                Email
            </label>
        </p>
        <p>
            <input type="text" name="email">
        </p>
        <p>
            <label>
                Fecha de Nacimiento
            </label>
        </p>
        <p>    
            <input type="date" name="date">
        </p>
        <p>
            <label>
                Contraseña
            </label>
        </p>
        <p>
            <input type="password" name="password">
        </p>
        <p>
            <button type="submit">
                Crear Usuario
            </button>
        </p>
    </form>
    
<%- include('../partials/footer') %>