<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Página de Registro</title>
</head>
<body>
    <h1>Página de Registro</h1>
    <form action="/users/" method="POST">
        <p>
            <label>
                Nombre
                <input type="text" name="name">
            </label>
        </p>
        <p>
            <label>
                Email
                <input type="text" name="email">
            </label>
        </p>
        <p>
            <label>
                Contraseña
                <input type="password" name="password">
            </label>
        </p>
        <p>
            <button type="submit">
                Crear Usuario
            </button>
        </p>
    </form>
</body>
</html>